<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE-edge" />
<meta name="viewport" contet="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/assets/css/style.css">
<title>Railsinstaller</title>
</head>

<div class="top"></div>
<header class="header__inner contain">
  <nav class="header__nav">
    
      <div class="header__logo"><img
     src="/assets/images/ri-logo.png"
     alt="Grapefruit slice atop a pile of other slices"></div>
      <ul class="menu__list">
        <li class="menu__list-item">Home</li>
        <li class="menu__list-item">Download</li>
        <li class="menu__list-item">Help</li>
      </ul>
  </nav>
</header>

{{ content }}

<footer class="footer">
  <div class="contain">
    <p class="footer__text--spaced">Contribute to this website or project</p>
  </div>
</footer>
